---
interface Props {
  class?: string;
}

const { class: classes } = Astro.props;
---

<div class:list={['card', classes]}>
  <slot />
</div>

<style>
  .card {
    @apply bg-gray 
    border-transparent
    border-solid
    border-2
    hover:border-navyBlue
    flex 
    flex-col 
    min-h-fit
    max-w-[430px]
    transition-all
    ease-in-out
    mb-6
    rounded-[15px]
    p-10;
    box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }
</style>
