---
import { BaseText, BaseTextTypes, BaseLink } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';
---

<section class="family-background">
  <SectionsLayout class="family-section">
    <div class="content">
      <BaseText
        class="family-title"
        tag={BaseTextTypes.TAGS.H3}
      >
        Sua Família Merece Lembrar Só Dos Bons Momentos Em Casa
      </BaseText>

      <BaseText
        class="family-paragraph"
        tag={BaseTextTypes.TAGS.P}
      >
        A Refrigeração e Climatização adequadas são fundamentais para garantir o
        conforto e a qualidade de vida de sua família.
      </BaseText>

      <BaseLink
        href="https://wa.me/message/CVQIECXMWBIPN1"
        variation="blue"
        class="family-btn"
      >
        Saiba Mais
      </BaseLink>
    </div>
  </SectionsLayout>
</section>

<style>
  .family-background {
    @apply bg-cover bg-center bg-[url('../../assets/images/family-section.webp')];
  }

  .family-section {
    @apply flex
    flex-col
    h-screen
    items-start
    justify-center
    min-h-[700px];
  }

  .content {
    @apply max-w-[570px];
  }

  .family-title {
    @apply text-4xl mb-12;
  }

  .family-paragraph {
    @apply max-w-[490px]
    mb-12;
  }

  .family-btn {
    @apply min-w-[195px];
  }
</style>
