---
import { BaseLink, BaseText } from "../../components/base";
import LogoMobile from "../../assets/images/logo-mobile.webp";
import LogoTablet from "../../assets/images/logo-tablet.webp";
import Logo from "../../assets/images/Logo.webp";
import HeroImage from "../../assets/images/hero-image.webp";
import HeroImageMobile from "../../assets/images/hero-image-mobile.webp";

---  
<section class="hero-container">
    <header class="header">
        <img src={ Logo } alt="LogoRenanRefrigeracao" class="logo-hero" />
    </header>  
    <img src={ HeroImage } alt="Técnico em Refrigeração" class="image-hero" /> 
    <img src={ HeroImageMobile } alt="Técnico em Refrigeração" class="image-hero-mobile" /> 
    <div class="banner-hero">
        <div class="text-banner">
            <BaseText tag="h1" class="h1" variation="h1">
                Refrigeração e Climatização de qualidade é com a gente!
            </BaseText>

            <BaseText tag="p" class="p-hero" variation="p-hero">
                Atendimento profisisonal especializado em Refrigeração e Climatização, soluções inteligentes para sua empresa e o conforto da sua família. <strong class="strong">12 anos</strong> de experiência! 
            </BaseText>
        </div>
        <BaseLink href="https://wa.me/message/CVQIECXMWBIPN1" target="_blank" class="base-link" variation="link-navyblueicon">Saiba Mais</BaseLink>
    </div>
</section>

  <style>
    .hero-container {
        @apply flex;
    }

    .image-hero {
        @apply hidden min-w-full h-screen;
    }

    .image-hero-mobile {
        @apply flex w-full h-screen;
    }

    .image-hero-tablet {
        @apply hidden w-full h-screen;
    }

    .header {
        @apply bg-gray/[0.6] h-16 w-screen absolute top-0 flex items-center justify-start z-10;
    }

    .logo-hero {
        @apply relative flex w-40 h-12 items-center ml-4;
    }

    .banner-hero {
        @apply flex flex-col justify-between gap-10 absolute top-32 left-2;
    }

    .text-banner {
        @apply flex flex-col gap-10 justify-start p-1.5;
    }
     
    .h1 {
        @apply font-nova text-3xl text-neutral w-[250px];
    }

    .p-hero {
        @apply text-neutral text-sm w-[230px];
    }

    .strong {
        @apply font-ubuntuBold font-bold;
    }

    .base-link {
        @apply flex bg-navyBlue min-w-[140px] h-[40px] text-neutral font-ubuntuBold justify-center text-center items-center text-sm;
    }

    @media (min-width: 450px) {
    .image-hero-tablet {
        @apply flex;
    }
   
    .image-hero-mobile {
        @apply hidden;
    }
    }

    @media (min-width: 768px) {
    .banner-hero, .text-banner {
        @apply gap-14 top-40 left-6;
    }

    .header {
        @apply h-20;
    }

    .logo-hero {
        @apply w-52 h-16 ml-8;
    }

    .image-hero {
        @apply flex;
    }


    .image-hero-tablet {
        @apply hidden;
    }

    .h1 {
        @apply text-4xl w-[500px];
    }

    .p-hero {
        @apply text-base w-[390px];
    }

    .base-link {
        @apply text-xs w-[180px] h-[45px];
    }
  }

  @media (min-width: 1024px) {
    .banner-hero, .text-banner {
        @apply gap-16 top-64;
    }

    .header {
        @apply h-28;
    }

    .logo-hero {
        @apply w-72 h-20 ml-8;
    }

    .h1 {
        @apply text-5xl w-[700px];
    }

    .p-hero {
        @apply text-xl w-[580px];
    }

    .base-link {
        @apply text-lg w-[250px] h-[60px];
    }
  }

  @media (min-width: 1440px) {
    .banner-hero, .text-banner {
        @apply gap-16 top-56 left-20;
    }

    .header {
        @apply h-28; 
    }

    .logo-hero {
        @apply w-72 h-20 ml-20;
    }

    .h1 {
        @apply text-[67px] w-[910px];
    }

    .p-hero {
        @apply text-[32px] w-[900px] leading-[50px];
    }

    .base-link {
        @apply text-xl w-[300px] h-[70px];
    }
  }
  </style>