---
import { BaseLink, BaseText } from "../../components/base";
import { TheNavBar } from "../../components/unique";
import WhatsappImage from "../../assets/images/defaultwhatsapp.svg";

---  
<section class="section_hero">
    <TheNavBar class="navbar" />
    <div class="hero_container">
        <BaseText tag="h1" class="h1" variation="h1">
            Refrigeração e Climatização de qualidade é com a gente!
        </BaseText>
        <div class="text-contaniner">            
            <BaseText tag="p" class="p-hero" variation="p-hero">
                Atendimento profisisonal especializado em Refrigeração e Climatização, soluções inteligentes para sua empresa e o conforto da sua família.
            </BaseText>
            <BaseText tag="p" class="p-hero" variation="p-hero">
               <strong class="strong">12 anos</strong> de experiência! 
            </BaseText>
        </div>
        <BaseLink href="https://wa.me/message/CVQIECXMWBIPN1" target="_blank" class="link" variation="link-navyblue">
            <img class="whatsapp" src={WhatsappImage} >Entre em contato
        </BaseLink>
    </div>
</section>

<style>
    .section_hero {
        @apply 
        bg-[url('../../assets/images/hero-image-mobile3.webp')] 
        bg-cover 
        flex 
        flex-col 
        h-screen 
        justify-center 
        min-h-[700px];
    }

    .hero_container {
        @apply bg-black 
        bg-opacity-30 
        flex 
        flex-col 
        gap-16
        h-screen 
        justify-center
        min-h-[700px] 
        p-6;
    }

    .text-contaniner {
        @apply flex flex-col gap-4;
    }

    .strong {
        @apply font-bold font-ubuntuBold; 
    }

    .whatsapp {
        @apply hover:fill-navyBlue w-7;
    }

    @media (max-height: 600px) {
        .h1 {
            @apply mt-40;
        }
    }

    @media (min-width: 450px) {
        .section_hero {
            @apply bg-[url('../../assets/images/hero-image-tablet.webp')]
        }
    }

    @media (min-width: 1024px) {
        .section_hero {
            @apply bg-opacity-0 
            bg-[url('../../assets/images/hero-image.webp')];
        }
    }            

    @media (min-width: 1440px) {
        .section_hero {
            @apply items-center;
        }

        .hero_container {
            @apply w-[1400px] bg-opacity-0;
        }
    } 
</style>