---
import { BaseLink, BaseText, BaseTextTypes } from "@BaseComponents";
import { Whatsapp } from "@Assets";

---  
<section class="section_hero">
    <div class="hero_container">
        <BaseText tag={BaseTextTypes.TAGS.H1} variation="blue">
            Refrigeração e Climatização de qualidade é com a gente!
        </BaseText>
        <div>            
            <BaseText tag={BaseTextTypes.TAGS.P}>
                Atendimento profisisonal especializado em Refrigeração e Climatização, soluções inteligentes para sua empresa e o conforto da sua família.
            </BaseText>
        </div>
        <BaseLink href="https://wa.me/message/CVQIECXMWBIPN1" target="_blank" variation="blue">
            <img class="whatsapp" src={Whatsapp} >Entre em contato
        </BaseLink>
    </div>
</section>

<style>
    .section_hero {
        @apply 
        bg-[url('../../assets/images/hero-image-mobile3.webp')] 
        bg-cover 
        flex 
        flex-col 
        h-screen 
        justify-center 
        min-h-[700px];
    }

    .hero_container {
        @apply bg-black 
        bg-opacity-30 
        flex 
        flex-col 
        gap-16
        h-screen 
        justify-center
        min-h-[700px] 
        p-6;
    }

    .whatsapp {
        @apply hover:fill-navyBlue w-7;
    }

    @media (min-width: 450px) {
        .section_hero {
            @apply bg-[url('../../assets/images/hero-image-tablet.webp')];
        }
    }

    @media (min-width: 1024px) {
        .section_hero {
            @apply bg-opacity-0 
            bg-[url('../../assets/images/hero-image.webp')];
        }
    }            

    @media (min-width: 1440px) {
        .section_hero {
            @apply items-center;
        }

        .hero_container {
            @apply w-[1400px] bg-opacity-0;
        }
    } 
</style>