---
import { BaseLink, BaseText } from "../../components/base";
import { TheNavBar } from "../../components/unique";
import HeroImage from "../../assets/images/hero-image.webp";
import HeroImageMobile from "../../assets/images/hero-image-mobile.webp";

---  
<section class="hero-container">
    <TheNavBar />
    <div class="hero">
        <BaseText tag="h1" class="h1" variation="h1">
            Refrigeração e Climatização de qualidade é com a gente!
        </BaseText>
        <BaseText tag="p" class="p-hero" variation="p-hero">
            Atendimento profisisonal especializado em Refrigeração e Climatização, soluções inteligentes para sua empresa e o conforto da sua família. <br/><strong class="strong">12 anos</strong> de experiência! 
        </BaseText>
        <BaseLink href="https://wa.me/message/CVQIECXMWBIPN1" target="_blank" class="link" variation="link-navyblueicon">
            Saiba Mais
        </BaseLink>
    </div>
</section>

<style>
    .hero-container {
        @apply 
        bg-[url('../../assets/images/hero-image-mobile.webp')]
        bg-cover
        flex 
        flex-col 
        h-screen;
    }

    .hero {
        @apply 
        flex 
        flex-col 
        gap-10
        mt-10
        p-6
        w-auto;
    }

    .h1 {
        @apply font-nova text-3xl text-neutral;
    }

    .p-hero {
        @apply font-ubuntuLight text-neutral text-sm;
    }

    .strong {
        @apply font-bold font-ubuntuBold; 
    }

    .link {
        @apply 
        bg-navyBlue 
        flex
        font-ubuntuBold
        items-center 
        justify-center 
        text-center 
        text-neutral 
        text-xs;
    }

    @media (min-width: 450px) {
        .hero-container {
        @apply 
        bg-[url('../../assets/images/hero-image-tablet.webp')]
    }

    .hero {
        @apply 
        max-w-[480px]
        mt-12
        p-10
        w-auto;
    }
}

@media (min-width: 768px) {
    .hero {
        @apply 
        gap-14
        max-w-[600px]
        mt-12
        p-14;
    }


    .h1 {
        @apply text-4xl;
    }

    .p-hero {
        @apply max-w-md text-base;
    }

    .link {
        @apply 
        text-sm
        w-52;
    }
}   

@media (min-width: 1024px) {
    .hero-container {
        @apply 
        bg-[url('../../assets/images/hero-image.webp')]
    }

    .hero {
        @apply 
        gap-16
        max-w-[1100px]
        ml-[84px]
        mt-4
        p-14;
    }


    .h1 {
        @apply leading-tight text-7xl;
    }

    .p-hero {
        @apply leading-[50px] max-w-4xl text-[32px];
    }

    .link {
        @apply 
        text-xl
        w-[300px]
        h-[70px];
    }
}   
</style>

<!-- 
  <style>
    

    .banner-hero {
        @apply flex flex-col justify-between gap-10 absolute top-32 left-2;
    }

    .text-banner {
        @apply flex flex-col gap-10 justify-start p-1.5;
    }
   
    .strong {
        @apply font-ubuntuBold font-bold;
    }

    .base-link {
        @apply flex bg-navyBlue min-w-[140px] h-[40px] text-neutral font-ubuntuBold justify-center text-center items-center text-sm;
    }

    @media (min-width: 450px) {
    .image-hero-tablet {
        @apply flex;
    }
   
    .image-hero-mobile {
        @apply hidden;
    }
    }

    @media (min-width: 768px) {
    .banner-hero, .text-banner {
        @apply gap-14 top-40 left-6;
    }

    .header {
        @apply h-20;
    }

    .logo-hero {
        @apply w-52 h-16 ml-8;
    }

    .image-hero {
        @apply flex;
    }


    .image-hero-tablet {
        @apply hidden;
    }

    .h1 {
        @apply text-4xl w-[500px];
    }

    .p-hero {
        @apply text-base w-[390px];
    }

    .base-link {
        @apply text-xs w-[180px] h-[45px];
    }
  }

  @media (min-width: 1024px) {
    .banner-hero, .text-banner {
        @apply gap-16 top-64;
    }

    .header {
        @apply h-28;
    }

    .logo-hero {
        @apply w-72 h-20 ml-8;
    }

    .h1 {
        @apply text-5xl w-[700px];
    }

    .p-hero {
        @apply text-xl w-[580px];
    }

    .base-link {
        @apply text-lg w-[250px] h-[60px];
    }
  }

  @media (min-width: 1440px) {
    .banner-hero, .text-banner {
        @apply gap-16 top-56 left-20;
    }

    .header {
        @apply h-28; 
    }

    .logo-hero {
        @apply w-72 h-20 ml-20;
    }

    .h1 {
        @apply text-[67px] w-[910px];
    }

    .p-hero {
        @apply text-[32px] w-[900px] leading-[50px];
    }

    .base-link {
        @apply text-xl w-[300px] h-[70px];
    }
  }
  </style> -->