@font-face {
  font-family: 'NovaFlat';
  src: url('../../fonts/NovaFlat/NovaFlat.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../../fonts/Ubuntu/Ubuntu-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../../fonts/Ubuntu/Ubuntu-Bold.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../../fonts/Ubuntu/Ubuntu-Light.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
