---
import type { HTMLAttributeReferrerPolicy } from './types';

export interface Props {
  class?: string;
  variation?: string;
  href: string;
  referrerpolicy?: HTMLAttributeReferrerPolicy | null | undefined;
  target?: string;
}

const {
  class: className,
  href,
  referrerpolicy,
  target,
  variation,
} = Astro.props;

const dynamicClasses = [className, variation ? `is-${variation}` : ''];
---

{
  href && variation && (
    <a
      class:list={dynamicClasses}
      href={href}
      referrerpolicy={referrerpolicy ?? 'strict-origin-when-cross-origin'}
      rel="noopener"
      target={target ?? '_self'}
    >
      <slot />
    </a>
  )
}

<style>
  .is-blue,
  .is-green,
  .is-white,
  .is-composed {
    @apply font-ubuntuBold
    text-sm
    transition-all
    ease-in-out
    flex
    justify-center
    items-center
    gap-3
    w-fit
    max-h-12;
  }

  .is-blue,
  .is-green,
  .is-white {
    @apply rounded-lg
    px-5
    py-3;
  }

  .is-blue {
    @apply bg-navyBlue
    hover:bg-darkGreen
    text-neutral;
  }

  .is-white {
    @apply border-2
    border-solid
    border-navyBlue
    bg-whiteOpacity
    text-navyBlue
    hover:text-neutral
    hover:bg-navyBlue;
  }

  .is-green {
    @apply bg-darkGreen
    text-neutral
    hover:bg-navyBlue;
  }

  .is-composed {
    @apply hover:underline
    text-navyBlue;
  }
</style>
