---
import SocialInstagram from "../../../assets/images/instagram_icon.svg";
import SocialWhatsapp from "../../../assets/images/white_whatsapp_icon.svg";
import SocialEmail from "../../../assets/images/email_icon.svg";
---

<div class="social">
  <a class="link" href="https://www.instagram.com/renanrefrigeracaooficial/" target="_blank"
    ><SocialInstagram /></a
  >
  <a class="link" href="https://wa.me/message/CVQIECXMWBIPN1" target="_blank"><SocialWhatsapp /></a>
  <a class="link" href="mailto:contato@renanrefrigeracao.com.br" target="_blank"><SocialEmail /></a>
</div>

<style>
  .social {
    @apply mt-14 flex justify-around px-0;
  }
  .link {
    @apply py-2 px-5;
  }
  @media (min-width: 1024px) {
    .social {
      @apply mt-0;
    }
  }
</style>