---
import Logo from "../../../assets/images/Logo.webp";

const { class: className} = Astro.props;

const dynamicClasses = [className, 'header'];
---

<header class="header">
    <div class="renan-header">
        <img src={Logo} alt="Renan Refrigeração logo." title="Logo da Renan Refrigeração" class="logo" />
    </div>
</header>

<style>
    .header {
        @apply flex justify-start items-center w-full h-16 px-6 bg-gray/[0.6] absolute top-0;
    }

    .logo {
        @apply max-w-[150px] min-w-[90px];
    }

</style>
