---
import Logo from "../../../assets/images/Logo.webp";

const { class: className} = Astro.props;

const dynamicClasses = [className, 'header'];
---

<header class="header">
    <div class="renan_header">
        <img src={Logo} alt="Renan Refrigeração logotipo" title="Logotipo da Renan Refrigeração" class="logo" />
    </div>
</header>

<style>
    .header {
        @apply flex justify-start items-center w-full h-16 px-6 bg-gray/[0.6] absolute top-0;
    }

    .logo {
        @apply max-w-[150px] min-w-[90px];
    }

    @media (min-width: 1440px) {
    .renan_header {
        @apply flex items-center w-[1440px];
   }

   .logo {
        @apply items-center;
   }
}   
</style>
