---
import { LogoWhite } from "../../../assets";
const { class: className, variation } = Astro.props;
const dynamicClasses = ["logo", className];
---

<div class:list={[dynamicClasses]}>
  <LogoWhite variation={variation}/>
</div>

<style>
  .logo {
    @apply w-[423px];
  }
</style>