---
import { Logo } from  "../../../assets";
const { class: className, variation } = Astro.props;
const dynamicClasses = ["logo", className];
---

<a href="/" class:list={[dynamicClasses]}>
    <Logo variation={variation}/>
  </a>
  
  <style>
    .logo {
      @apply w-[280px];
    }
  </style>
  